html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: 'Roboto', sans-serif !important;
}
.navbar-default {
    background-color: #002157 !important;
    border-color: #e7e7e7;
    height: 100px;
    padding-top: 25px;
}
.page-header{margin-top: 110px !important;margin-left: -15px !important;margin-right: -15px !important;}
.page-header h1{font-family: 'Roboto Condensed', sans-serif;color: #002056;font-size: 28px}
.top-head{font-family: 'Roboto Condensed', sans-serif;font-size: 20px;margin-left: -15px;margin-right: -15px}
.logo_header a {
    background: url(../img/logo-sprite.png) no-repeat scroll left top;
    display: block;
    height: 35px;
    margin: -15px 0 0;
    text-indent: -999em;
    width: 200px;
    margin-left: -15px;
}
.top-head{font-size: 22px;border-bottom:solid 1px #d2d2d4;padding: 20px;}
.boxed{border:solid 1px #d2d2d4;font-size: 12px;color: #676769;}
.boxed h2{font-size:18px;}
.boxed ul {padding-left: 0px}
.boxed ul li {list-style: none}
.top-box{background-color:#f6f6f8;}
.content-box{background-color:#ffffff; border-radius: 3px;padding: 10px;display: flow-root;}
.left-space{width: 30%;float: left;padding-left: 5px}
.right-space{width: 60%;float: right;padding: 20px}

.content-box .left-space{width: 60%;float: left;}
.content-box .right-space{width: 30%;float: right;}
.notify{background-color: #f6f6f8;padding: 5px;margin-top: 30px;margin-bottom: 30px;padding: 10px }
.notify button{float: right;margin-right: 20px;}
.notify span{margin-top: 8px;float: left;}
table thead{background-color:#f6f6f6;}
table tbody{font-size:11px;font-weight: bolder;}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}